.main-page-container {
  background-size: cover;
  background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
    url("../../assets/img/library-922998_1920.jpg");

  box-sizing: border-box;
  height: 100%;
  width: 100%;
  font-family: "Raleway", sans-serif;
}

.main-container {
  width: 50%;
  margin: auto;
  display: flex;
  align-items: center;
  height: 100%;
}

.main-container .container-div {
  margin: 0 auto;
}

.items {
  border-radius: 5px;
  display: grid;
  height: 15rem;
  margin: 1rem;
  grid-template-rows: 2fr 1fr;
  grid-gap: 10px;
  cursor: pointer;
  border: 3px dotted black;
  transition: all 0.6s;
}

.icon-wrapper,
.project-name {
  display: flex;
  align-items: center;
  justify-content: center;
}

.icon-wrapper img {
  height: 8rem;
  width: 8rem;
  font-size: 100px;
  color: #e5e6f1;
  transform: translateY(0px);
  transition: all 0.6s;
}

.icon-wrapper {
  align-self: end;
}

.project-name {
  align-self: start;
}

.project-name p {
  font-size: 24px;
  /* font-weight: bold; */
  letter-spacing: 2px;
  color: #e5e6f1;
  transform: translateY(0px);
  transition: all 0.5s;
}

.items:hover {
  border: 3px solid #e5e6f1;
}
.items:hover .project-name p {
  transform: translateY(-10px);
}
.items:hover .icon-wrapper i {
  transform: translateY(5px);
}

@media only screen and (max-width: 600px) {
  .main-page-container {
    /* background-size: cover; */
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
      url("../../assets/img/library-922998_1920.jpg") no-repeat center center
        fixed;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    overflow: hidden;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
  }

  .main-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .main-container .container-div {
    margin: 0 auto;
  }

  .items {
    border-radius: 5px;
    display: grid;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
    cursor: pointer;
    border: 3px dotted black;
    transition: all 0.6s;
  }

  .icon-wrapper,
  .project-name {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-wrapper img {
    height: 3rem;
    width: 3rem;
    font-size: 50px;
    color: #e5e6f1;
    transform: translateY(0px);
    transition: all 0.6s;
  }

  .icon-wrapper {
    align-self: end;
  }

  .project-name {
    align-self: start;
  }

  .project-name p {
    font-size: 10px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    color: #e5e6f1;
    transform: translateY(0px);
    transition: all 0.5s;
  }

  .items:hover {
    border: 3px solid #e5e6f1;
  }
  .items:hover .project-name p {
    transform: translateY(-10px);
  }
  .items:hover .icon-wrapper i {
    transform: translateY(5px);
  }
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  .main-page-container {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.80), rgba(0, 0, 0, 0.80)),
      url("../../assets/img/library-922998_1920.jpg");

    box-sizing: border-box;
    height: 100%;
    width: 100%;
    font-family: "Raleway", sans-serif;
  }

  .main-container {
    width: 80%;
    margin: auto;
    display: flex;
    align-items: center;
    height: 100%;
  }

  .main-container .container-div {
    margin: 0 auto;
  }

  .items {
    border-radius: 5px;
    display: grid;
    height: 8rem;
    width: 8rem;
    margin: 1rem;
    grid-template-rows: 2fr 1fr;
    grid-gap: 10px;
    cursor: pointer;
    border: 3px dotted black;
    transition: all 0.6s;
  }

  .icon-wrapper,
  .project-name {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .icon-wrapper img {
    height: 3rem;
    width: 3rem;
    font-size: 50px;
    color: #e5e6f1;
    transform: translateY(0px);
    transition: all 0.6s;
  }

  .icon-wrapper {
    align-self: end;
  }

  .project-name {
    align-self: start;
  }

  .project-name p {
    font-size: 10px;
    /* font-weight: bold; */
    letter-spacing: 1px;
    color: #e5e6f1;
    transform: translateY(0px);
    transition: all 0.5s;
  }

  .items:hover {
    border: 3px solid #e5e6f1;
  }
  .items:hover .project-name p {
    transform: translateY(-10px);
  }
  .items:hover .icon-wrapper i {
    transform: translateY(5px);
  }
}
